/* GLOBAL */
* {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all ease 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e8e8e8;
  font-family: "Open Sans", sans-serif;
  padding-top: 100px;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #1d1d1d;
}

h1 {
  font-size: 3.052rem;
  font-weight: 700;
}

h2 {
  font-size: 1.953rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4,
p {
  font-size: 1rem;
  font-weight: 400;
}

h5 {
  font-size: 0.8rem;
  font-weight: 400;
}

h6 {
  font-size: 0.64rem;
  font-weight: 300;
}

p {
  color: #333;
}

ol,
ul {
  padding-left: 0;
}

.no-spinner {
  appearance: textfield;
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* HEADER */
.topbar {
  background-color: #fff;
  color: #333;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  transition: transform 0.3s ease;
  /* Ensure smooth transition */
  z-index: 1050;
  overflow: hidden;
}

.navbar {
  transition: transform 0.3s ease;
  /* Ensure smooth transition */
  z-index: 1000;
  margin: 0;
  padding: 0;
  top: 1px;
  /* Ensure it matches the height of the .topbar */
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .topbar {
    white-space: normal;
    padding: 10px 5px;
  }
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.nav-item .nav-link:hover {
  color: #0056b3;
}