/*GLOBAL*/
* {
  font-family: "Open Sans", san-serif;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e8e8e8;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Montserrat", san-serif;
  color: #1d1d1d;
}

h1 {
  font-size: 3.052rem;
  font-weight: 700;
}

h2 {
  font-size: 1.953rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4,
p {
  font-size: 1rem;
  font-weight: 400;
}

h5 {
  font-size: 0.8rem;
  font-weight: 400;
}

h6 {
  font-size: 0.64rem;
  font-weight: 300;
}

p {
  color: #333;
}

ol,
ul {
  padding-left: 0;
}

.no-spinner {
  appearance: textfield;
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

/* h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  color: var(--primary-color);
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
} */