<header>
    <div class="topbar container-fluid">
        <div class="topbar-wrapper container py-1">
            <a href="https://www.google.com/maps/place/469%2F32+Nguy%E1%BB%85n+Oanh,+Ph%C6%B0%E1%BB%9Dng+17,+Qu%E1%BA%ADn+G%C3%B2+V%E1%BA%A5p,+TP+H%E1%BB%93+Ch%C3%AD+Minh/@10.8465116,106.676378,383m/data=!3m1!1e3!4m6!3m5!1s0x3175284d2326b5c9:0xb6543d002e6e7241!8m2!3d10.846992!4d106.6775697!16s%2Fg%2F11j8g_byd0?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
                target="_blank" class="topbar-link"><i class="fas fa-map-marker-alt"></i> 469/32 Nguyễn Oanh, Phường
                17,
                Quận Gò Vấp, TP Hồ Chí Minh.</a>
            <a href="mailto:kythuat@giathinhcopier.vn" class="topbar-link"><i class="fas fa-envelope"></i>
                kythuat@giathinhcopier.vn</a>
            <a href="tel:+84785411888" class="topbar-link"><i class="fas fa-phone"></i>(+84) 0785411888</a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <div class="brand-container">
                    <img src="../img/logo2.png" alt="logo" class="brand-image">
                    <div class="brand-text"> <span class="brand-name">GIA THỊNH</span>
                        <small class="brand-tagline">SMART SOLUTION SMART COPIER</small>
                    </div>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">VỀ CHÚNG TÔI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DỊCH VỤ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">KHÁCH HÀNG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">BLOG</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>